<template>
  <NavTop />
  <div class="container mt-3">
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <MainLayout />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import NavTop from './components/NavTop.vue';
import MainLayout from './components/MainLayout.vue';

export default defineComponent({
  name: 'App',
  components: {
    NavTop,
    MainLayout,
  },
});
</script>
