<template>
  <section class="container">
    <div class="columns">
      <div class="column is-3">
        <a class="button is-primary is-block is-alt is-large" href="#"
          >New Post</a
        >
        <aside class="menu">
          <p class="menu-label">Tags</p>
          <ul class="menu-list">
            <li><span class="tag is-primary is-medium">Dashboard</span></li>
            <li><span class="tag is-link is-medium">Customers</span></li>
            <li>
              <span class="tag is-light is-danger is-medium"
                >Authentication</span
              >
            </li>
            <li><span class="tag is-dark is-medium">Payments</span></li>
            <li><span class="tag is-success is-medium">Transfers</span></li>
            <li><span class="tag is-warning is-medium">Balance</span></li>
            <li><span class="tag is-medium">Question</span></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        <div class="box content">
          <TweetList />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import TweetList from './TweetList.vue';

export default {
  components: {
    TweetList,
  },
};
</script>
