<template>
  <nav class="navbar is-primary topNav">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="../assets/caillou.jpg"
            class="is-rounded"
            style="border-radius: 50%"
          />

          <span class="is-size-4 mx-3">
            <svg-icon type="mdi" :path="twitterPath"></svg-icon>
            Main Character
          </span>
        </a>
        <div class="navbar-burger burger" data-target="topNav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="cover.html">Home</a>
          <a class="navbar-item" href="landing.html">Landing</a>
          <a class="navbar-item" href="blog.html">Blog</a>
          <a class="navbar-item" href="instaAlbum.html">Album</a>
          <a class="navbar-item" href="kanban[search].html">Kanban</a>
          <a class="navbar-item" href="search.html">Search</a>
          <a class="navbar-item" href="tabs.html">Tabs</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-small">
                  <span class="icon">
                    <i class="fa fa-user-plus"></i>
                  </span>
                  <span> Register </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-small is-info is-outlined">
                  <span class="icon">
                    <i class="fa fa-user"></i>
                  </span>
                  <span>Login</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-active" href="#">Popular</a>
          <a class="navbar-item" href="#">Recent</a>
          <a class="navbar-item" href="#">Rising</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <input class="input" type="search" placeholder="Search forum..." />
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon';
import { mdiTwitter } from '@mdi/js';

export default {
  components: {
    SvgIcon,
  },
  data() {
    return {
      twitterPath: mdiTwitter,
    };
  },
};
</script>
