<template>
  <article class="post">
    <h4>
      {{ mention.data.tweet.text }}
    </h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img
            :src="mention.data.tweet.user.profile_image_url_https"
            v-if="mention.data.tweet.user"
          />
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a
              :href="`https://twitter.com/${mention.data.tweet.user.screen_name}`"
              target="_blank"
            >
              @{{ mention.data.tweet.user.screen_name }}
            </a>
            <!-- replied 34 minutes ago &nbsp;
            <span class="tag">Question</span> -->
          </p>
        </div>
      </div>
      <div class="media-right">
        <span class="has-text-grey-light">
          <svg-icon type="mdi" :path="heartPath"></svg-icon>
          {{ mention.data.tweet.favorite_count }}
        </span>
      </div>
      <div class="media-right">
        <span class="has-text-grey-light">
          <svg-icon type="mdi" :path="retweetPath"></svg-icon>
          {{ mention.data.tweet.retweet_count }}
        </span>
      </div>
    </div>
  </article>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon';
import { mdiTwitterRetweet, mdiHeart } from '@mdi/js';

export default {
  components: {
    SvgIcon,
  },
  props: {
    mention: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      retweetPath: mdiTwitterRetweet,
      heartPath: mdiHeart,
    };
  },
};
</script>
