<template>
  <TweetSummary v-for="tweet in tweets" :key="tweet.id" :mention="tweet" />
</template>

<script>
import TweetSummary from './TweetSummary.vue';

export default {
  components: {
    TweetSummary,
  },
  data: () => {
    return {
      tweets: [],
    };
  },
  mounted: async function () {
    const req = await fetch('/api/mentions');
    const tweets = await req.json();
    console.log(tweets[0].data);
    this.tweets = tweets;
  },
};
</script>
